<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="SimpleSample"
      Manufacturer="HyperHippoDemo"
      Version="$(var.PACKAGEVERSION)"
      UpgradeCode="{B11A5A8C-2F7E-43E0-A8D3-1A41AE3396D4}"
      Scope="perMachine"
      Language="1033">

    <MediaTemplate CompressionLevel="high" />

    <Property Id="CREATE_DESKTOP_SHORTCUT" Value="1" Secure="yes" />
    <Property Id="LAUNCHAPPONEXIT" Value="1" Secure="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="SimpleSample" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="SimpleSample" Level="1">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>

    <ComponentGroup Id="AppComponents">
      <Files Include="$(var.RELEASEPATH)\**\*" />

      <Component Directory="DesktopFolder" Id="DesktopShortcutComponent" Condition="CREATE_DESKTOP_SHORTCUT = 1">
        <Shortcut
            Id="DesktopShortcut"
            Name="SimpleSample"
            Target="[INSTALLFOLDER]SimpleSample.exe"
            WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\HyperHippoDemo\SimpleSample" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Property Id="ARPCOMMENTS" Value="Unity command-line build output for SimpleSample" />
    <Property Id="ARPCONTACT" Value="HyperHippoDemo" />
    <Property Id="ARPURLINFOABOUT" Value="https://qnflegacy.ca" />
  </Package>
</Wix>
